.category-manager-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 12px;
  color: white;
  font-family: "Varela Round", sans-serif;
  direction: rtl;
}

.category-manager-header {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.category-manager-search-input {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #4db6ac;
  flex: 1;
  background-color: rgb(63, 62, 60);
  color: white;
}

.category-manager-list,
.category-manager-search-results {
  list-style: none;
  padding-right: 0;
  max-height: 50vh;
  overflow-y: auto;
  margin: 0;
}

.category-manager-list li,
.category-manager-search-results li {
  margin-bottom: 10px;
  padding: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 14px;
  color: white;
}

.category-manager-list li strong,
.category-manager-search-results li strong {
  font-size: 14pt;
  color: rgb(102, 255, 255);
}

.category-manager-list li ul,
.category-manager-search-results li ul {
  margin-top: 6px;
  padding-right: 10px;
}

.category-manager-list li ul li,
.category-manager-search-results li ul li {
  font-size: 13px;
  color: #ccc;
}

.category-manager-search-results mark {
  background-color: #53bfdd;
  padding: 0 4px;
  border-radius: 4px;
}

/* .category-manager- */
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1500;
}

.category-manager-modal {
  background: rgb(63, 62, 60);
  padding: 20px;
  border-radius: 16px;
  min-width: 300px;
  max-width: 400px;
  text-align: center;
  color: white;
  font-family: "Varela Round", sans-serif;
}

.category-manager-toggle-buttons {
  margin: 10px 0;
}

.category-manager-toggle-buttons button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background: #eee;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-manager-toggle-buttons .active {
  background-color: #1e88e5;
  color: white;
}

.category-manager-modal select,
.category-manager-modal input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #4db6ac;
  background-color: rgb(63, 62, 60);
  color: white;
  font-size: 14px;
}

.message {
  color: #6b97e9;
  margin-top: 10px;
}

.category-manager-close-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.category-manager-close-btn:hover {
  background-color: #0056b3;
}
