/* --------- Form Container --------- */
#form-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 450px;
    background: linear-gradient(135deg, rgba(110, 38, 38, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(212, 209, 209, 0.37);
    overflow: hidden;
    padding: 25px;
    color: #fff;
    font-family: "Varela Round", sans-serif;
}

/* --------- Titles --------- */
.form-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
    color: rgb(127, 203, 203);
}

.title {
    font-weight: 800;
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}

/* --------- Labels & Inputs --------- */
.label {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    padding-top: 7%;
}

.label-title {
    margin-bottom: 5px;
    font-size: 15pt;
}

input {
    background-color: transparent;
    border: none;
    height: 30px;
    width: 100%;
    height: 30px;

    border-bottom: 2px solid #fff;
    font-size: 16px;
    color: #fff;
}

input:focus {
    border-color: #867272;
    outline: none;
}

/* --------- Error / Validation --------- */
.notcorrect {
    color: #ffcccc;
    font-size: 0.9em;
    margin-top: 5px;
}

/* --------- Submit Button --------- */
.submit {
    margin-top: 25px;
    height: 40px;
    width: 100%;
    color: #fff;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 25px;
    font-family: "Varela Round";

}

.submit:hover {
    background-color: #ffffff;
    color: #000;
}

/* --------- Signup Link --------- */
.signup-text {
    text-align: center;
    margin-top: 15px;
}

.signup-link {
    color: lightblue;
    cursor: pointer;
    text-decoration: underline;
}